In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_fwf('mass.mas03', usecols=(2, 3, 11),
                 widths=(1, 3, 5, 5, 5, 1, 3, 4, 1, 13, 11, 11,
                         9, 1, 2, 11, 9, 1, 3, 1, 12, 11, 1),
                 skiprows=41, header=None,
                 index_col=False)
df.columns = ('N', 'Z',  'avEbind')

# Extrapolated values are indicated by '#' in place of the decimal place, so
# the avEbind column won't be numeric. Coerce to float and drop these entries.
df['avEbind'] = pd.to_numeric(df['avEbind'], errors='coerce')
df = df.dropna()
df["A"] = df.N + df.Z

In [15]:
aV = 15750
aS = 17800
aC = 711
aA = 23700
aP = 11180
kP = -0.5

df['parity'] = 0 
df.parity = np.where((df.N % 2 == 1) & (df.Z % 2 == 1), -aP * pow(df.A, kP), df.parity)
df.parity = np.where((df.N % 2 == 0) & (df.Z % 2 == 0), +aP * pow(df.A, kP), df.parity)

df['LDM'] = (aV * df.A - aS * pow(df.A, 2/3) - aC * df.Z*(df.Z-1)/pow(df.A,1/3) - aA * pow(df.N-df.Z, 2)/df.A + df.parity) / df.A
df['res'] = df.avEbind - df.LDM
df

,N,Z,avEbind,A,parity,LDM,res,res2
0,1,1,1112.283,2,-7905.453814,5574.857544,-4462.574544,1.185342e+07
1,2,1,2827.266,3,0.000000,774.835983,2052.430017,4.212469e+06
2,1,2,2572.681,3,0.000000,446.182739,2126.498261,4.521995e+06
4,3,1,1400.351,4,-5590.000000,9.202656,1391.148344,1.752384e+07
5,2,2,7073.915,4,5590.000000,2915.251689,4158.663311,1.859578e+06
...,...,...,...,...,...,...,...,...
3010,157,101,7409.669,258,-696.036398,7467.888497,-58.219497,2.790361e+03
3029,154,106,7342.424,260,693.354166,7381.992698,-39.568698,2.016207e+03
3034,157,104,7371.396,261,0.000000,7421.234416,-49.838416,2.483868e+03
3058,156,108,7298.239,264,688.081435,7337.751788,-39.512788,2.000373e+03
3062,159,106,7332.652,265,0.000000,7381.662861,-49.010861,2.402064e+03

In [16]:
df['res2']=df.res**2
df.res2.sum()/df.shape[0]

97326.8093994249